@import "../../variables.scss";

.nav-cart{
    line-height: 2.5rem;
}

.bg-gray-dark{
    color: $gray-light;
    background-color: $gray-dark;
}

.bb-gray-light{
    border-bottom: solid 2px $gray-light2;
}

.cont-menu{
    color: $gray-light;
    background-color: rgba(17, 17, 17, .5);
}
.navbar-brand{
    img{
        width: 12rem;
    }
}

.navbar-nav{
    .nav-item{
        font-size: 1.2rem;
        margin-left: 4rem;
        a{
            color: $gray-light;
        }
    }
    .nav-item.active{
        border-bottom: solid 2px $gray-light;
    }
}

#dropdownMenuButton{
    color: $gray-light;
}